/* Make sure the menu can be clicked */
/* #menu	{pointer-events: auto; } */

.menubar {
	background-repeat: repeat-x;
	background-image: url("../images/main_menu.png");
    position: relative;
    z-index: 1000;
/*     width: 100%; */
    text-align: center;
}

/* The button container */
.menubutton-container {
	display: inline-block;
	margin:auto;
}

/* The buttons themselves */
.menubutton-container a {
	float: left;
	background: none;
	padding: 0px;
}

/* The buttons when hovered */
.menubutton-container a:HOVER {
	background: none;
}

.memberdetail {
	width: 700px !important;
	height: 300px !important;
	padding: 20px !important;
	line-height: 0.8 !important;
}

.membername {
	font-weight: bolder;
	font-size: 40pt;
}

.memberquestions {
	font-size: 14pt;
}

.memberinfo {
	font-size: 12pt;
}

.memberleft {
	margin-right: 20px;
}

#memberoverview {
	z-index: -1;
	padding: 0;
}

/* Give opacity 1 to all of the member details when on the overview */
.impress-on-memberoverview .memberdetail {
    opacity: 1 !important;
    cursor: pointer;
}
