.introLogo {
	
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    line-height: 1;

    transform-style: preserve-3d;
    animation: rotate-h1 2s infinite alternate ease-in-out;

    transform: perspective(1000px) rotateY(0deg);

    transition: all 2s ease-in-out;
}