.menubar {
	background-repeat: repeat-x;
	background-image: url("../images/main_menu.png");
    position: relative;
    z-index: 1000;
/*     width: 100%; */
    text-align: center;
}

/* The button container */
.menubutton-container {
	display: inline-block;
	margin:auto;
}

/* The buttons themselves */
.menubutton-container a {
	float: left;
	background: none;
	padding: 0px;
}

/* The buttons when hovered */
.menubutton-container a:HOVER {
	background: none;
}