
#impress a {
	pointer-events: none;
	cursor: default;
}

#impress tr {
	pointer-events: none;
}

#impress .present a {
	pointer-events: auto;
	cursor: auto;
}

#impress .present tr {
	pointer-events: auto;
}


.present #moviecontainer {
	display: inline-block;
}

.present #moviespoofer {
	display: none;
}


#moviecontainer {
	display: none;
}

#moviespoofer {
	display: inline-block;
	margin: 10px;
}


/* Give opacity 1 to all of the member details when on the overview */
/* .impress-on-memberoverview .step { */
/* 	cursor: pointer; */
/* 	opacity:1 !important; */
/* } */

/* .impress-on-memberoverview .memberinfo { */
/*     display:none; */
/* } */

/* .impress-on-memberoverview .memberquestions { */
/*     display:none; */
/* } */

/* .impress-on-memberoverview .membername { */
/*     font-size: 40pt; */
/* } */

/* .impress-on-memberoverview .memberleft { */
/* 	width: 400px; */
/* } */

/* .impress-on-memberoverview .memberright { */
/* 	width: 250px; */
/* } */

/* .impress-on-memberoverview .memberimage { */
/* 	width: 250px; */
/* 	height: 250px; */
/* } */


.impress-on-receptie #receptie-content {
	display: inline;
}
.impress-on-fakfeestje #fakfeestje-content {
	display: inline;
}
.impress-on-ontbijt #ontbijt-content {
	display: inline;
}
.impress-on-bbq #bbq-content {
	display: inline;
}
.impress-on-bbq2 #bbq2-content {
	display: inline;
}
.impress-on-smoothies #smoothies-content {
	display: inline;
}
.impress-on-shishabar #shishabar-content {
	display: inline;
}
.impress-on-randanimatie #randanimatie-content {
	display: inline;
}
.impress-on-kiestd #kiestd-content {
	display: inline;
}
.impress-on-jamsessie #jamsessie-content {
	display: inline;
}
.impress-on-optredens #optredens-content {
	display: inline;
}
.impress-on-attracties #attracties-content {
	display: inline;
}
.impress-on-chill #chill-content {
	display: inline;
}
.impress-on-kebab #kebab-content {
	display: inline;
}
.impress-on-kebab2 #kebab2-content {
	display: inline;
}
.impress-on-pannenkoek #pannenkoek-content {
	display: inline;
}
.impress-on-quiz #quiz-content {
	display: inline;
}
.impress-on-laser #laser-content {
	display: inline;
}

.impress-on-bbqsubscribe #bbqsubscribe-content {
	display: block;
}

.impress-on-bbq2subscribe #bbq2subscribe-content {
	display: block;
}

.impress-on-kebabsubscribe #kebabsubscribe-content {
	display: block;
}

.impress-on-kebab2subscribe #kebab2subscribe-content {
	display: block;
}

.impress-on-quizsubscribe #quizsubscribe-content {
	display: block;
}

.impress-on-lasersubscribe #lasersubscribe-content {
	display: block;
}

/* enable clicking on elements 'hiding' behind body in 3D */
body     { pointer-events: none; }
#impress { pointer-events: auto; }


.activi-content {
	display:none;
	margin: 0 auto;
	text-align: center;
}

/* fade out inactive slides */
.step:not(.active) {
    opacity: 0.3;
}

.clusterTitle {
    font-weight: bold;
    text-align: center;
    font-size: 6em;
    line-height: 1;
    color: white;
}

.cubeFace {
	margin-top: 60px !important;
}


.reservation-content {
	display: none;
}

.reservation-content a {
	pointer-events: auto !important;
	cursor: auto !important;
}

.reservation-content button {
	pointer-events: auto !important;
	cursor: pointer !important;
}

.impress-on-overview .titlestep {
	opacity: 1;
}

.impress-on-overview .cubeFace {
	opacity: 0.3 !important;
}

.impress-on-SponsorsOverview #SponsorsCentral {
	opacity: 1;
}

.impress-on-SponsorsOverview .sponsorslide {
	opacity: 1;
}

.impress-on-SponsorsOverview a {
	pointer-events: auto !important;
	cursor: pointer !important;
}

.impress-on-bbqsubscribe #activiOverview {
	display:none;
}

.impress-on-bbq2subscribe #activiOverview {
	display:none;
}

.impress-on-kebabsubscribe #activiOverview {
	display:none;
}

.impress-on-kebab2subscribe #activiOverview {
	display:none;
}

.impress-on-quizsubscribe #activiOverview {
	display:none;
}

.impress-on-lasersubscribe #activiOverview {
	display:none;
}

.thumbCellDiv:HOVER .nameContainer {
	background-color: #878787;
}

.thumbCellDiv:HOVER .nameContainerPloeg5 {
	background-color: #FFCA2B;
}

.thumbCellDiv {
	cursor: pointer !important;
}